<%- messages() %>
<h1>New Article</h1>
<form action="/articles" method="post">
  <fieldset>
    <label>Title</label><br/>
    <input type="text" name="article[title]" value="" id="title" />
  </fieldset>
  <fieldset>
    <label>Body</label><br />
    <input type="textarea" name="article[body]" value="" id="body" />
  </fieldset>
  <input type="submit" />
</form>